name: 서버 파일 출력 테스트

on:
  push:
    branches: ["main"]

jobs:
  check-server:
    runs-on: ubuntu-latest

    steps:
      - name: 체크아웃
        uses: actions/checkout@v3

      - name: sshpass 설치
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: 서버 접속하여 명령 실행
        run: |
          sshpass -p "${{ secrets.SSH_PASSWORD }}" ssh -o StrictHostKeyChecking=no \
            ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} \
            'whoami && hostname && which ls && echo $SHELL && pwd && ls -la'