name: 서버 파일 출력 테스트

on:
  push:
    branches: ["main"]

jobs:
  check-server:
    runs-on: ubuntu-latest

    steps:
      - name: 체크아웃
        uses: actions/checkout@v3

      - name: 서버 접속하여 위치와 파일 출력
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          script: |
            whoami
            hostname
            which ls
            echo $SHELL
            pwd
            ls -la
            ls -al